.home {
    background-color: #ffffff;
    
}

.bgcolor{
    background-color: #EAAF5C;
    color: black;
}

.bgcolor1{
    background-color: #D85535;
    color: black;

}
.bgcolor2{
    background-color: #533A7C;
    color: white;

}

h1{
    color : #533A7C;
}

h3{
    color : #533A7C;
}
h4{
    color : #533A7C;

}